<%= simple_form_for @lecture, url: course_lectures_path(params[:course_id]), html: { class: "contact-form row" } do |f| %>
            <h2 class="text-center"><strong>Nueva Lección</strong></h2>
            <div class="form-group">
                <%= f.input :title, label: "Título", input_html: { class: "input-text js-input", required: true } %>
            </div>
            <div class="form-group">
                <%= f.input :video, label: "Video", as: :file, input_html: { class: "input-text js-input", required: true } %>
            </div>
            <div class="form-group">
                <%= f.input :content, as: :rich_text_area, label: "Contenido", input_html: { class: "input-text js-input", required: true } %>
            </div>
            <div class="form-group">
                <%= f.button :submit, "Crear", class: "submit-btn btn btn-warning", id: "create_product" %>
            </div>
        <% end %>
