
<head>
  <style>
    /* Personalización adicional si es necesario */
    .video-thumbnail {
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <!-- Video principal -->
       <div class="col-lg-9">
       <p class="border-bottom pb-1 border-top"><%= @lecture.lecture %> - <%= @lecture.course.title %> : <%= @lecture.title %></p>
       <%= cl_video_tag @lecture.video.key, class: "w-100",  controls: true  unless @lecture.video.nil?%>
        <% @lecture.content.embeds.each do |adj| %>
          <% image = ActiveStorage::Blob.find_by(id: adj.blob_id) %>
          <%= cl_image_tag image.key unless image.nil? %>
        <% end %>
        <h2 class="mt-3"><%= @lecture.title %></h2>
        <p><%= @lecture.content %></p>
      </div>
      <!-- Videos relacionados -->
      <div class="col-lg-3">
      <p class="border-bottom pb-1 border-top">Mas cursos que te pueden interesar <i class="fas fa-eye"></i></p>
       <div class="border-start ps-3 ">
         <div class="row">
          <div class="col-12">
            <div class="video-thumbnail mb-3">
              <%suggestion1 = Course.all.sample%>
               <%= link_to course_path(suggestion1) do %>
              <%= cl_image_tag suggestion1.photo.key, class: "img-fluid w-40 h-100" %>
              <%=suggestion1.title[0..30] + "..."%>
            <% end %>
            </div>
          </div>
          <div class="col-12">
            <div class="video-thumbnail mb-3">
            <%suggestion2 = Course.all.sample%>
             <%= link_to course_path(suggestion2) do %>
              <%= cl_image_tag suggestion2.photo.key, class: "img-fluid w-100 h-100" %>
              <%=suggestion2.title[0..30] + "..."%>
            <% end %>

            </div>
          </div>
          <div class="col-12">
            <div class="video-thumbnail mb-3">
              <%suggestion3 = Course.all.sample%>
              <%= link_to course_path(suggestion3) do %>
              <%= cl_image_tag suggestion3.photo.key, class: "img-fluid w-100 h-100" %>
              <%=suggestion3.title[0..30] + "..."%>
            <% end %>
            </div>
          </div>
          <div class="col-12">
            <div class="video-thumbnail mb-3">
              <%suggestion4 = Course.all.sample%>
              <%= link_to course_path(suggestion4) do %>
              <%= cl_image_tag suggestion4.photo.key, class: "img-fluid w-100 h-100" %>
              <%=suggestion4.title[0..30] + "..."%>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="border-top mt-1 pt-3 mb-1 pb-3">
  <div class="row">
    <div class="col">
      <% if @lecture.lecture != 1 %>
        <%= button_to prev_lecture_path(id: @lecture), class: "button yellow" do %>
          <i class="fas fa-arrow-left"></i>
          Anterior
        <% end %>
      <% end  %>
    </div>
    <div class="col">
      <%= button_to next_lecture_path(lecture:@lecture.lecture, course_id: @lecture.course_id), class: "button violet" do %>
        siguiente <i class="fas fa-arrow-right"></i>
      <%end%>
      <%= button_to course_complete_path(course_id: @lecture.course_id), method: :get, class: "button violet" do%>
          finalizar
      <%end%>
    </div>
  s</div>
</div>



  </div>
