
 <div class="container mt-5">
    <div class="row">
      <!-- Video principal -->
       <div class="col-lg-9">
       <% titulo = "#{@lecture.lecture} - #{@lecture.course.title} :  #{@lecture.title}" %>
       <h2 class="border-bottom py-2 border-top purple-text"><%= link_to titulo, course_path(@lecture.course) %></h2>
       <%= cl_video_tag @lecture.video.key, class: "w-100",  controls: true  if @lecture.video.attached? %>
         <h2 class="mt-4 mb-4 purple-tex"><%= @lecture.title %></h2>
       
        <%= content_tag :div, @lecture.content.body.html_safe, class: "lecture-content" %>
        <% @lecture.photos.each do |photo| %>
         <%= cl_image_tag photo.key, width: 400, class: "centered-image" %>
         <% end %>
         <% @lecture.content.embeds.each do |adj| %>
          <% image = ActiveStorage::Blob.find_by(id: adj.blob_id) %>
          <%= cl_image_tag image.key, width: 400 unless image.nil? %>
        <% end %>
      </div>
      <!-- Videos relacionados -->
      <div class="col-lg-3">
      <p class="border-bottom py-2 border-top text-center">Más cursos que te pueden interesar <br> <i class="fa-solid fa-arrow-down"></i></p>
       <div class="border-start ps-3 ">
         <div class="row">
          <div class="col-12">
            <div class="video-thumbnail bg-white mb-3">
              <%suggestion1 = Course.all.sample%>
               <%= link_to course_path(suggestion1) do %>
              <%= cl_image_tag suggestion1.photo.key, class: "img-fluid w-40 h-100 rounded-3" %>
              <p><%=suggestion1.title[0..30] + "..."%></p>
            <% end %>
            </div>
          </div>
          <div class="col-12">
            <div class="video-thumbnail bg-white mb-3">
            <%suggestion2 = Course.all.sample%>
             <%= link_to course_path(suggestion2) do %>
              <%= cl_image_tag suggestion2.photo.key, class: "img-fluid w-100 h-100" %>
              <p><%=suggestion2.title[0..30] + "..."%></p>
            <% end %>

            </div>
          </div>
          <div class="col-12">
            <div class="video-thumbnail bg-white mb-3">
              <%suggestion3 = Course.all.sample%>
              <%= link_to course_path(suggestion3) do %>
              <%= cl_image_tag suggestion3.photo.key, class: "img-fluid w-100 h-100" %>
              <p><%=suggestion3.title[0..30] + "..."%></p>
            <% end %>
            </div>
          </div>
          <div class="col-12">
            <div class="video-thumbnail bg-white mb-3">
              <%suggestion4 = Course.all.sample%>
              <%= link_to course_path(suggestion4) do %>
              <%= cl_image_tag suggestion4.photo.key, class: "img-fluid w-100 h-100" %>
              <p><%=suggestion4.title[0..30] + "..."%></p>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="border-top mt-1 pt-3 mb-1 pb-3">
  <div class="col-md-9">
    <div class="row">
    <div class="col">
      <% if @lecture.lecture != 1 %>
        <%= button_to prev_lecture_path(id: @lecture), class: "button yellow" do %>
          <i class="fas fa-arrow-left"></i>
          Anterior
        <% end %>
      <% end  %>
    </div>
    <div class="col d-flex justify-content-end">
      <% if @finalizar.nil? %>
        <%= button_to course_complete_path(course_id: @lecture.course_id), method: :get, class: "button violet" do%>
            finalizar
        <%end%>
      <% else %>
        <%= button_to next_lecture_path(lecture:@lecture.lecture, course_id: @lecture.course_id), class: "button violet" do %>
          siguiente <i class="fas fa-arrow-right"></i>
        <%end%>
      <%end%>
    </div>
    </div>
  </div>
</div>
</div>
