<div class="container">
  <h2>Editar <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <%= cl_image_tag @user.photo.key if @user.photo.attached?%>
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :first_name, label: "Nombre", autofocus: true, value: @user.first_name %>
      <%= f.input :last_name, label: "Apellido", autofocus: true, value: @user.last_name %>
      <%= f.input :nickname, label: "Nombre de usuario", required: true, value: @user.nickname, autofocus: true %>
      <%= f.input :bio, label: "Bio", autofocus: true %>
      <%= f.hidden_field :photo, value: @user.photo.signed_id if @user.photo.attached?  %>
      <%= f.input :photo, label: "Foto", required: true, as: :file, direct_upload: true, input_html: { required: true } %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password, hint: "necesitamos tu contraseña actual para confirmar tus cambios", required: true, input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <div>Unhappy? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

  <%= link_to "Back", :back %>
</div>
