<div class="container">
<div class="register-photo">
    <div class="image-holder"></div>
    <div class="form-container">
         <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
            <h2 class="text-center"><strong>¿Olvidaste tu contraseña?</strong></h2>
            <div class="form-group">
            <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <div><%= render "devise/shared/links" %> </div>
                </div>
            </div>
            <div class="form-group">
           <%= f.button :submit, "Enviarme instrucciones de reseteo",  class: "btn btn-success btn-block btn-info"  %>
            </div>
             <% end %>
    </div>
</div>
</div>
</div>
