
<header class="bg-white pt-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-md-5" data-aos="fade-right">
        <div class="text-center text-xxl-start">
          <div class="fs-3 fw-light text-muted">Diviértete aprendiendo</div>
          <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Encuentra tu ritmo, comparte tu pasión</span></h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
            <%= link_to "¡Comienza ya!", "/users/sign_up", class: "button violet" %>
            <%= link_to "Nuestros cursos", "/courses", class: "button yellow" %>
          </div>
        </div>
      </div>
      <div class="col-md-7" data-aos="fade-left">
        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
          <div class="profile bg-gradient-primary-to-secondary">
            <img class="profile-img" src="<%= asset_path "design/piano_home.png" %>" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mt-5">
  <section class="container pb-4" data-aos="fade-up">
    <div class="container">
      <h2 class="mb-4">Nuestro contenido</h2>
      <div class="d-flex gap-4 justify-content-center">
      <%suggestion1 = Course.all.sample%>
        <div class="card-product">
        <%= cl_image_tag suggestion1.photo.key, class: "card_img" if suggestion1.photo.attached? %>
          <div class="card-product-infos">
            <h2> <%= link_to suggestion1.title, course_path(suggestion1) %> </h2>
          </div>
        </div>
          <%suggestion2 = Course.all.sample%>
        <div class="card-product">
        <%= cl_image_tag suggestion2.photo.key, class: "card_img" if suggestion2.photo.attached? %>
          <div class="card-product-infos">
            <h2> <%= link_to suggestion2.title, course_path(suggestion2) %> </h2>
          </div>
        </div>
        <%suggestion3 = Course.all.sample%>
        <div class="card-product">
        <%= cl_image_tag suggestion3.photo.key, class: "card_img" if suggestion3.photo.attached? %>
          <div class="card-product-infos">
            <h2> <%= link_to suggestion3.title, course_path(suggestion3) %> </h2>
          </div>
        </div>
        </div>
    </div>
  </section>
</div>

<section class="container py-5 ">
  <div class="container px-5 row">
    <div class="col-md-7" data-aos="fade-right">
      <h4>¿Cómo empezar?</h4>
      <h2>El proceso es muy simple</h2>
      <div class="register d-flex align-items-center pt-4 gap-3">
        <div class="proccess">
          <i class="fa-solid fa-file-lines"></i>
        </div>
        <div class="px-2">
          <h3>Regístrate</h3>
          <p>
            Para tener acceso a nuestros cursos y crear contenido es necesario que estes registrado.
            Esto nos permite brindarte un mejor servicio al enviarte información de nuevos recursos que puedan ser de tu interés
          </p>
        </div>
      </div>
      <div class="lesson d-flex align-items-center gap-3">
        <div class="proccess">
         <i class="fa-solid fa-person-chalkboard"></i>
        </div>
        <div class="px-2">
          <h3>Inicia un curso</h3>
          <p>
            Aprovecha nuestra barra de búsqueda para encontrar tus cursos de música preferidos e inicia todos los que sean de tu interés. Hazlos a tu ritmo, desde donde sea, cuando sea.
          </p>
        </div>
      </div>
      <div class="start d-flex align-items-center gap-3">
        <div class="proccess">
          <i class="fa-solid fa-graduation-cap"></i>
        </div>
        <div class="px-2">
          <h3>Comienza a aprender</h3>
          <p>
            Accede a todas la lecturas de cada curso con videos tutoriales, imagénes e información que comparten nuestros usuarios. No olvides puntuar y comentar para ayudar a los creadores.
          </p>
        </div>
    </div>
  </div>
  <div class="col-md-5 d-flex align-items-end" data-aos="fade-left">
    <div class="img_two" style="background-image: url(<%= asset_path 'pexels-cottonbro-studio-4709832.jpg' %>)"></div>
    <div class="img_one" style="background-image: url(<%= asset_path 'pexels-george-milton-6953867.jpg' %>)"></div>
  </div>
</section>
</div>
<section class="bg-light py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center my-5">
          <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Sobre Nosotros</span></h2>
          <p class="lead fw-light mb-4">Somos un grupo de desarrolladores que busca conectar a la comunidad de música</p>
          <p class="text-muted">No te pierdas de compartir lo que te apasiona con el mundo</p>
          <div class="d-flex justify-content-center fs-2 gap-4">
              <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
              <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
              <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
