<header class="py-5">
  <div class="container px-5 pb-5">
    <div class="row gx-5 align-items-center">
      <div class="col-md-5">
                            <!-- Header text content-->
        <div class="text-center text-xxl-start">
          <div class="fs-3 fw-light text-muted">I can help your business to</div>
          <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Encuentra tu ritmo, comparte tu pasión.</span></h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="resume.html">Resume</a>
            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="projects.html">Projects</a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
          <div class="profile bg-gradient-primary-to-secondary">
            <img class="profile-img" src="https://png.pngtree.com/png-clipart/20220125/original/pngtree-piano-png-image_7208920.png" alt="..." />

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<%# cards %>
<section class="container pb-4">
  <div class="container">
    <h2 class="">Nuestros contenido</h2>
    <div class="d-flex gap-4 justify-content-center">
     <%suggestion1 = Course.all.sample%>
      <div class="card-product">
       <%= cl_image_tag suggestion1.photo.key, class: "card_img" %>
        <div class="card-product-infos">
          <h2> <%= link_to suggestion1.title[0..20]+"...", course_path(suggestion1) %> </h2>
        </div>
      </div>
        <%suggestion2 = Course.all.sample%>
      <div class="card-product">
       <%= cl_image_tag suggestion2.photo.key, class: "card_img" %>
        <div class="card-product-infos">
          <h2> <%= link_to suggestion2.title[0..20]+"...", course_path(suggestion2) %> </h2>
        </div>
      </div>
       <%suggestion3 = Course.all.sample%>
      <div class="card-product">
       <%= cl_image_tag suggestion3.photo.key, class: "card_img" %>
        <div class="card-product-infos">
          <h2> <%= link_to suggestion3.title[0..20]+"...", course_path(suggestion3) %> </h2>
        </div>
      </div>
      </div>



    </div>
  </div>
</section>

<section class="container py-5">
  <div class="container px-5 row">
    <div class="col-md-7">
      <h4>Como Empezar</h4>
      <h2>proceso simple para comenzar</h2>
      <div class="register d-flex align-items-center pt-4 gap-3">
        <div class="proccess">
          <i class="fa-solid fa-file-lines"></i>
        </div>
        <div class="px-2">
          <h3>Register</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quisquam fugit maiores inventore sint placeat ipsam
            molestiae nulla ea culpa distinctio.
          </p>
        </div>
      </div>
      <div class="lesson d-flex align-items-center gap-3">
        <div class="proccess">
         <i class="fa-solid fa-person-chalkboard"></i>
        </div>
        <div class="px-2">
          <h3>Elegir lección</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quisquam fugit maiores inventore sint placeat ipsam
            molestiae nulla ea culpa distinctio.
          </p>
        </div>
      </div>
      <div class="start d-flex align-items-center gap-3">
        <div class="proccess">
          <i class="fa-solid fa-graduation-cap"></i>
        </div>
        <div class="px-2">
          <h3>Comienza a aprender</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quisquam fugit maiores inventore sint placeat ipsam
            molestiae nulla ea culpa distinctio.
          </p>
        </div>
    </div>
  </div>
  <div class="col-md-5 d-flex align-items-end">
    <div class="img_two" style="background-image: url(<%= asset_path 'pexels-cottonbro-studio-4709832.jpg' %>)"></div>
    <div class="img_one" style="background-image: url(<%= asset_path 'pexels-george-milton-6953867.jpg' %>)"></div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center my-5">
          <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
          <p class="lead fw-light mb-4">My name is Start Bootstrap and I help brands grow.</p>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorum itaque qui unde quisquam consequatur autem. Eveniet quasi nobis aliquid cumque officiis sed rem iure ipsa! Praesentium ratione atque dolorem?</p>
          <div class="d-flex justify-content-center fs-2 gap-4">
              <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
              <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
              <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
