<div class="container">
  <h1 class="mt-4"> Curso Completado!</h1>


    <section class="get-in-touch section_form" style="max-width: 1000px;">
    <h1 class="title"><i class="fas fa-shopping-bag"> Comentanos tu experiencia:</i></h1>
    <%= simple_form_for @review, html: { class: "contact-form row" } do |f| %>
        <%= f.hidden_field :course_id, value: params[:course_id] %>
        <div class="form-field col-lg-4">

          <%= f.input :rating, collection: [1,2,3,4,5], prompt: 'Select Rating' %>
        </div>
        <div class="form-field field col-lg-12">
          <%= f.input :coment, label: "Comentario", input_html: { class: "input-text js-input", required: true } %>
        </div>
        <div class="form-field col-lg-12 d-flex">
          <%= f.button :submit, "Crear", class: "submit-btn btn btn-primary" %>
        </div>
    <% end %>
</section>
</div>
