<div class="container py-4">
  <div class="card-trip">
    <%= cl_image_tag @course.photo.key, class: "yolo" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @course.title %></h2>
        <% unless @first_lecture.nil? %>
          <%= link_to "Comenzar", course_lecture_path(@course, @first_lecture), class:"btn btn-details btn-warning shadow-0" %>
        <% end %>
      </div>
      <h2 class="card-trip-pricing"><%= @teacher.nickname %></h2>
      <% if @teacher.photo.attached? %>
        <%= cl_image_tag @teacher.photo.key, class: "card-trip-user avatar-bordered" %>
      <% end %>
    </div>
  </div>
  <h4 class="fw-bold">Descripción</h4>
  <p><%= @course.description %></p>
  <div class="row">
    <div class="col-md-4">
      <h4 class="fw-bold">Reviews</h4>
      <% if @reviews.length == 0 %>
        Ningún review por los momentos.
      <% end %>
      <div class="d-flex">

        <% @reviews.each do |review| %>


        <div class="card-review">
          <h3 class="rydarkblue"><%= review.user.nickname %></h3>
          <p><%= review.coment %></p>
          <div class="d-flex gap-2" style="color: #d9731a;">
          <% review.rating.times do %>
            <i class="fa-solid fa-star"></i>
           <% end %>
          </div>
          <img src="" alt="">
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <ul class="list-group gap-2">
        <% @lectures.each do |lecture| %>
          <li class="list-group-item bg-white border"><%= lecture.title %></li>
        <% end %>
      </ul>
    </div>
  </div>


</div>
