<div class="container py-4">
  <div class="card-trip">
    <%= cl_image_tag @course.photo.key, class: "yolo" if @course.photo.attached? %>
    <div class="card-trip-infos">
      <div class="title-course">
        <h2><%= @course.title %></h2>
        <% unless @first_lecture.nil? %>
          <%= link_to "Comenzar", course_lecture_path(@course, @first_lecture), class:"btn btn-details btn-warning shadow-0" %>
        <% end %>
      </div>

                  <a class="justify-content-end" href="https://www.paypal.com/donate/?business=88F5F5ERABJ24&no_recurring=0&item_name=Colaborate+to+Rhyma+development&currency_code=USD" target=”_blank”>
          <%# <span class="fw-bolder fs-4 ">Rhyma</span> %>
        <img src="<%= asset_path "paypal-donate.png" %>" alt="" style="width: 120px;">
    </a>
      <h2 class="card-trip-pricing"><%= @teacher.nickname %></h2>
      <% if @teacher.photo.attached? %>
        <%= cl_image_tag @teacher.photo.key, class: "card-trip-user avatar-bordered" %>
      <% end %>

    </div>
  </div>
  <h4 class="fw-bold">Descripción</h4>
  <%= content_tag :div, @course.description.body.html_safe, class: "lecture-content" %>
  <div class="row mt-4 border-top-before">
    <div class="col-md-4">
      <h4 class="fw-bold">Reviews
      <%average_rating = Review.where(course_id: @course.id).average(:rating)%>
      <%if average_rating.nil?  %>
        ⭐
      <%else%>
        <%=average_rating.round(1)%>⭐
      <%end%>
      </h4>
      <% if @reviews.length == 0 %>
        Ningún review por los momentos.
      <% end %>
      <div class="d-flex flex-column gap-4 pe-2 scroll-reviews">

        <% @reviews.each do |review| %>


        <div class="card-review">
          <h3 class="rydarkblue"><%= review.user.nickname %></h3>
          <p> - <i>"<%= review.coment %>"</i></p>
          <div class="d-flex gap-2" style="color: #d9731a;">
          <% review.rating.times do %>
            <i class="fa-solid fa-star"></i>
           <% end %>
          </div>
          <img src="" alt="">
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 pt-4">
      <ul class="list-group gap-2">
        <% @lectures.each_with_index do |lecture, index| %>
          <% if  user_signed_in? && !@advance.lecture.nil? &&@advance.lecture >= index %>
            <li class="list-group-item bg-white border list-group-item-action d-flex align-items-center justify-content-between" style="border-radius: 0.7rem;">
              <%= link_to lecture.title, course_lecture_path(@course, lecture) %>
              <div>
              <% if current_user.id.to_i == @teacher.id %>
                <%= link_to "Editar", edit_course_lecture_path(@course, lecture), class:"text-info" %>
              <% end %>
              <i class="fa-solid fa-circle-check check-color"></i>
              </div>
            </li>
          <% else %>
            <li class="list-group-item bg-white border list-group-item-action d-flex align-items-center justify-content-between" style="border-radius: 0.7rem;">
              <%= lecture.title %>
              <% if user_signed_in? && current_user.id.to_i == @teacher.id %>
                <%= link_to "Editar", edit_course_lecture_path(@course, lecture), class:"text-info" %>

              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      <% if current_user.id.to_i == @teacher.id %>
        <%= link_to "añadir lecture", new_course_lecture_path(@course), class:"btn btn-details btn-warning shadow-0 float-end" %>
      <% end %>
      <% end %>
    </div>
  </div>

</div>
