<!DOCTYPE html>
<html>
  <head>
    <title>Rhyma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>
    <%= cl_image_tag "https://res.cloudinary.com/dgz3yly6v/image/upload/v1709670048/development/sc9ff09tt6bse65xprh2g41uzgaf.jpg" %>
    <%= yield %>
  </body>
</html>
